.home-card {
    width: 90vw;
    min-width: 1000px;
    height: 80%;
    background-color: rgb(245, 210, 199);
    padding: 20px;
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.home-container {
    height: 94vh;
    min-height: 800px;
    min-width: 1200px;
    bottom: 0;
}

.pfp {
    min-height: 90%;
    min-width: 30%;
    background-image: url("https://i.pinimg.com/564x/e4/bb/1c/e4bb1c97bd9475a21381df583db5e50b.jpg");
    background-size: cover;
}

.pfp:hover {
    animation: fadeBackground 1s ;
    animation-fill-mode: forwards;
}

.pfp-text {
    animation: spin 0.3s 1;
}

.text-body-card {
    width: 90%;
    height: 90%;
    background-color: rgb(248, 225, 218);
    padding: 40px;
    font-size: 25px;
    font-weight: lighter;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}


@keyframes fadeBackground {
    from { box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0); }
    to { box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }
}